<br><br><br>
<table class="table">
    <thead class="thead-dark">
      <tr>
        <th class="col1" scope="col">Day</th>
        <th class="col2" scope="col">Task</th>
        <th class="col3" scope="col">Description</th>
        <th class="col4" scope="col">Start time</th>
        <th class="col5" scope="col">End time</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="col1" scope="row">1.</td>
        <td class="col2">Task1</td>
        <td class="col3">Description1</td>
        <td class="col4">10:00</td>
        <td class="col5">10:00</td>
      </tr>
      <tr>
        <td class="col1" scope="row">2.</td>
        <td class="col2">Task2</td>
        <td class="col3">Description2</td>
        <td class="col4">10:00</td>
        <td class="col5">10:00</td>
      </tr>
      <tr>
        <td class="col1" scope="row">3.</td>
        <td class="col2">Task3</td>
        <td class="col3">Description3</td>
        <td class="col4">10:00</td>
        <td class="col5">10:00</td>
      </tr>
    </tbody>
  </table>