<div class="wrapper fadeInDown">
    <div id="formContent">
      <!-- Tabs Titles -->
  
      <!-- Logo -->
      <div class="fadeIn first">
        <h1>Add User</h1>
      </div>
  
      <!-- Login Form -->
      <form>
        <input type="text" id="login" class="fadeIn second" name="login" placeholder="Firstname">
        <input type="text" id="login" class="fadeIn second" name="login" placeholder="Lastname">
        <input type="email" id="login" class="fadeIn second" name="login" placeholder="Email">
        <input type="password" id="password" class="fadeIn third" name="login" placeholder="Password">
       
      </form>
  
      <!-- Remind Passowrd -->
      <div id="formFooter">
        <input type="submit" class="fadeIn fourth" value="Add">
      </div>
  
    </div>
</div>
